@font-face {
	font-family: "font-icons";
	src: url('../assets/fonts/font-icons/font-icons.woff2') format('woff2'), url('../assets/fonts/font-icons/font-icons.woff') format('woff'), url('../assets/fonts/font-icons/font-icons.ttf') format('truetype');;
}

@mixin icon-styles {
	font-family: "font-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == angle-down {
		$char: "\E001";
	}
	@if $filename == angle-left {
		$char: "\E002";
	}
	@if $filename == angle-right {
		$char: "\E003";
	}
	@if $filename == angle-up {
		$char: "\E004";
	}
	@if $filename == arrow-circle-right-solid {
		$char: "\E005";
	}
	@if $filename == check-circle-solid {
		$char: "\E006";
	}
	@if $filename == ellipsis-h-solid {
		$char: "\E007";
	}
	@if $filename == envelope-regular {
		$char: "\E008";
	}
	@if $filename == facebook {
		$char: "\E009";
	}
	@if $filename == google-plus-g {
		$char: "\E00A";
	}
	@if $filename == instagram {
		$char: "\E00B";
	}
	@if $filename == linkedin {
		$char: "\E00C";
	}
	@if $filename == map-marker-alt-solid {
		$char: "\E00D";
	}
	@if $filename == phone-alt-solid {
		$char: "\E00E";
	}
	@if $filename == pinterest {
		$char: "\E00F";
	}
	@if $filename == readmore {
		$char: "\E010";
	}
	@if $filename == search {
		$char: "\E011";
	}
	@if $filename == twitter {
		$char: "\E012";
	}
	@if $filename == youtube {
		$char: "\E013";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-angle-down {
	@include icon(angle-down);
}
.icon-angle-left {
	@include icon(angle-left);
}
.icon-angle-right {
	@include icon(angle-right);
}
.icon-angle-up {
	@include icon(angle-up);
}
.icon-arrow-circle-right-solid {
	@include icon(arrow-circle-right-solid);
}
.icon-check-circle-solid {
	@include icon(check-circle-solid);
}
.icon-ellipsis-h-solid {
	@include icon(ellipsis-h-solid);
}
.icon-envelope-regular {
	@include icon(envelope-regular);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-google-plus-g {
	@include icon(google-plus-g);
}
.icon-instagram {
	@include icon(instagram);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-map-marker-alt-solid {
	@include icon(map-marker-alt-solid);
}
.icon-phone-alt-solid {
	@include icon(phone-alt-solid);
}
.icon-pinterest {
	@include icon(pinterest);
}
.icon-readmore {
	@include icon(readmore);
}
.icon-search {
	@include icon(search);
}
.icon-twitter {
	@include icon(twitter);
}
.icon-youtube {
	@include icon(youtube);
}
