# Env Config
.htaccess
wp-config.php
xxx.php
wp-admin/google-web-fonts.txt

# W3 Total Cache
wp-content/advanced-cache.php
wp-content/cache/
wp-content/db.php
wp-content/object-cache.php
wp-content/w3tc-config/