
.logo-menu-wrapper{
	padding: 34px 30px;
	@include max-mq($lt) {
		padding: 34px 25px;
	}
	@include max-mq($md) {
		padding: 34px 30px;
	}

	.site-branding{
		margin-right: auto;
	}
	
	&:after{
		content: '';
		background-color: rgba(0, 0, 0, 0.4);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
    	transition: .4s ease;
		z-index: -1;
		visibility: hidden;
	}

	.menu-opened &{
		&:after{
      		opacity: 1;
			z-index: 0;
			visibility: visible;
		}
	}
	  
	.main-navigation {
		min-width: 270px;
		top: 0;
		margin: auto;
	
		.admin-bar &{
			top: 32px;
		}

		.arrow-toggle {
			position: absolute;
			right: -2px;
			top: 0;
			cursor: pointer;
			padding: 5px;
			height: 100%;
			display: flex;
			align-items: center;

			@include max-mq($responsive-toggle-breakpoint) {
				right: 10px;
			}
		}
		
		@include max-mq($responsive-toggle-breakpoint) {
			background-color: $primary-color;
			position: fixed;
			transition: .4s;
			z-index: 999;
			left: -100%;
			overflow: auto;
			height: 100vh;
			align-items: flex-start !important;

			.menu-opened & {
				left: 0%;
			}
		}
		.main-menu-container {
			
			ul {
				margin: 0;
				padding: 0;
	
				li {
					display: block;
					margin: 0;
					position: relative;
					color: $secondary-color;
					transition: color 0.4s ease;
			

					&.current-menu-item, &.current_page_parent{
						color: $primary-color;
					}

					&:hover{
						color: $primary-color;
					}
	
					@include min-mq($lg) {
						display: inline-block;
					}

					@include max-mq($responsive-toggle-breakpoint) {
						border-bottom: 1px solid $gray;
						color: $white;
						&:after{
							content: none;
						}
					}
	
					a {
						padding: 10px 20px;
						display: block;
						position: relative;
						font-weight: 600;
						color: inherit;
						width: 100%;
						font-size: $font-size-large; 

						@include max-mq($mac) {
							padding: 15px;
							font-size: $font-size-small;
						}
					}

					&.sub-menu-open{
						@include max-mq($responsive-toggle-breakpoint) {
							> a{
								background-color: $primary-color;
								color: $white;
							}
						}
					}
				}
			}
	
			.sub-menu {
	
				@include max-mq($lg - 1) {
					display: none;
					margin: 0;
					padding: 0 0 0 25px;
				}
	
				@include min-mq($lg) {
					background-color: #fff;
					box-shadow: 0 5px 20px rgba(#000, .1);
					left: -50px;
					margin: auto;
					opacity: 0;
					padding: 0;
					position: absolute;
					right: -50px;
					text-align: center;
					top: 99%;
					visibility: hidden;
					width: 200px;
					z-index: 10;
				}
	
				li {
					display: block;
	
					a {
						padding: 10px 20px;
	
						@include max-mq($lg - 1) {
							padding: 10px 0;
						}
					}
	
					&:not(:last-child) {
	
						@include min-mq($lg) {
							border-bottom: 1px solid rgba(#000, .1);
						}
					}
				}
	
				.sub-menu {
	
					@include min-mq($lg) {
						left: 100%;
						right: auto;
						top: 0;
						z-index: 11;
					}
	
					@include min-mq($lt) {
						left: 100%;
						right: auto;
					}
				}

			}
	
			.menu-item-has-children {
	
				&:hover {
	
					>.sub-menu {
						opacity: 1;
						visibility: visible;
					}
				}
			}

			
			@include max-mq($responsive-toggle-breakpoint) {
				width: 100%;
				margin-bottom: 40px;
			}
		}

	}

	@include max-mq($sm) {
		padding: 10px 30px;
	}
}

.logo-menu-wrapper .main-navigation .main-menu-container {
	font-family: $secondary-font;
	color: $secondary-color;

	ul li {

		&:hover {
			color: $btn-hover-color;
		}
		a {
			font-weight: 400;
		}
	}
}
.logo-menu-wrapper .main-navigation .main-menu-container {
	.ask-for-demo-link {
		background-color: $primary-color; 
		border-radius: 6px;
		color: $white;
		transition: .4s ease;
		margin-left: 40px;
		
		a {
			font-size: 20px;
			font-weight: bold;
			padding: 10px 13px;
		}
		&:hover {
			background-color: $btn-hover-color;
			color: $white;
		}
	}
}

.logo-menu-wrapper .main-navigation .main-menu-container .show-in-mob-header {
	display: none;
}
.logo-menu-wrapper .main-navigation {
	margin: 0;
}